.DS_Store
.coursier-cache
.sc
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
secrets/
conf/production.conf
conf/df-pub3.json
conf/pub3-service_info@affichagepub3.com.json
deploy/cf
.sbtserver/
project/.sbtserver
project/.sbtserver.lock
project/play-fork-run.sbt
project/sbt-ui.sbt

